body{
    margin: 0%;
    color: rgb(97, 96, 96);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover{
    background-color: rgb(240, 136, 136);
    outline: none;
}
.home-text{
    text-align: center;
    letter-spacing: 8px;
    font-size: 50px;
    color: rgb(241, 71, 71);
    text-shadow: 2px 3px rgb(202, 202, 202);
    font-family:'Courier New', Courier, monospace;
}
.top{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    /* height: 500px; */
    
}
.container{
    height: auto;
    
}
.blog-text{
    color: rgb(97, 96, 96);text-align: center;letter-spacing: 3px;margin-top: 55px;font-weight: normal;
}
.image{
    height:400px; width: 99.3%;margin-top:40px;border: 4px solid rgb(235, 231, 231);
}
.head-top{
    margin-top: 5%;letter-spacing: 1px;font-weight: bolder;
}
.first-para{
    line-height: 1.5;text-align: justify;
}
.second-para{
    line-height: 1.5;text-align: justify;margin-top: 30px;
}
.head-bottom{
    margin-top: 40px;letter-spacing: 1px;font-weight:bolder;
}
/* footer */
.footer-div{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    border-bottom: 1px solid rgb(99, 98, 98);
    height: 470px;
}
.left-footer{
    width: 50%;
    float: left;
    
    margin-top: 25px;
}
.right-footer{
    width: 47%;
    margin-top: 10px;
    float: left;
   margin-left: 20px;

}
.send-btn{
    width: 35%;
    height: 40px;
    background-color: rgb(241, 71, 71);
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2px;
}
button{
    box-shadow: 2px 2px rgb(192, 192, 192);
}
.da{
    color: white;     
    background-color: rgb(99, 97, 97);
    height: 22px;
    width: 27px;
    border-radius:50%;
    padding-top: 5px;
    text-align: center;
  margin-right: 15px;
    box-shadow: 2px 3px rgb(192, 192, 192);
}
.left-icon{
    width: 35%;
    float: left;
    padding-top: 5px;

}
.right-icon {
    width: 50%;
    float: left;
    padding-top: 5px;
    margin-left: 80px;
    
}
.right-icon p{
    margin-left: 90px;
    text-decoration: underline;
    font-size: 15px;
}
.left-icon p{
    font-size: 15px;
}
/* .name-text:focus{
    background-color: purple;
} */

.name-text{
    height: 35px;width:270px;
    border-color:rgb(235, 235, 235);
    background-color: rgb(245, 244, 244);
    border-style: inset;
}

.input{
    height: 35px;width: 270px; margin-left: 20px; outline-color: rgb(148, 147, 147); border-style: inset;
     border-color: rgb(235, 235, 235); background-color: rgb(245, 244, 244);
}
.message{
    height: 190px;width: 570px;margin-top:5%;outline-color: rgb(148, 147, 147);
    border-style: inset;border-color:rgb(235, 235, 235);
    background-color: rgb(245, 244, 244);
}
.name-text:focus,.input:focus,.message:focus{
    background-color: white;
    border: 3px solid rgb(148, 147, 147);
    outline: none;
}
.html-footer{
    margin-top: 45px;border-left: 1px solid rgb(160, 159, 159);margin-left: 47%;
}
.question{
    letter-spacing: 3px; text-align: center;font-weight: normal
}